#app {
  // color: red;
  height: 100%;
}




// pad
@media screen and (max-width: 1280px) {
  #app {
    box-sizing: border-box;
    padding-bottom: 3em;
  }
}

// mobile
@media screen and (max-width: 767px) {
  #app {
    box-sizing: border-box;
    padding-bottom: 2em;
  }
}

// desktop
@media screen and (min-width: 1281px) {
  #app {
    padding-left: 260px;
    box-sizing: border-box;
  }
}
