.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px -4px #7e8594;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
  .navi-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .option-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #777;
    &.active {
      color: #000;
    }
    span {
      margin-left: 0.4em;
    }
  }
}

// pad
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .navigation {
    width: 100vw;
    height: 3em;
    bottom: 0;
    top: auto;
  }
}

// mobile
@media screen and (max-width: 767px) {
  .navigation {
    width: 100vw;
    height: 2em;
    bottom: 0;
    top: auto;
  }
}

@media screen and (max-width: 500px) {
  .navigation .option-item span {
    display: none;
  }
}
